---
import BaseHead from '../components/BaseHead.astro';
import Sidebar from '../components/Sidebar.astro';
interface Props { title: string; description: string }
const { title, description } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="min-h-screen">
		<div class="flex flex-row gap-6">
			<Sidebar class="w-[200px] shrink-0" />
			<main class="flex-1 prose prose-neutral max-w-[900px]">
				<slot />
			</main>
		</div>
	</body>
</html>


