<head>
  <title>Snowfall</title>
  <%= stylesheet_link_tag "snow", "data-turbo-track": "reload" %>
</head>

<div class="snow-page">
  <h1>Washington Snow Forecasts</h1>
  <% @locations.each do |location| %>
    <%= render 'location', location: location %>
  <% end %>
</div>