<head>
  <title>Resources</title>
  <%= stylesheet_link_tag "resources", "data-turbo-track": "reload" %>
</head>
<div class="crisis-resources">
  <h1>Crisis Resources</h1>
  <p>If you are experiencing a mental health emergency and need immediate help, please contact:</p>
  <ul>
    <li>Your nearest emergency room or 911</li>
    <li>Crisis line in Seattle / King County: 206-461-3222</li>
    <li>Crisis line in Everett / Snohomish / San Juan / Island / Whatcom Counties: 425-258-4357 (HELP), or 800-584-3578</li>
    <li>Crisis line in Tacoma / Pierce County: 253-798-4333, or 800-576-7764</li>
    <li>The National Suicide Lifeline: 9-8-8</li>
    <li>
      <a href="https://www.thetrevorproject.org/">The Trevor Project</a>
      (the leading national organization providing crisis intervention and suicide prevention for LGBTQ youth ages 13-24): 866-488-7386
    </li>
    <li>
      <a href="https://translifeline.org/">Trans Lifeline:</a>
      a support line staffed by transgender people for transgender people: 877-565-8860
    </li>
  </ul>
  <p>*In the event of a life threatening or physically dangerous emergency, call 9-1-1, not a mental health crisis line</p>
</div>
