:root {
  // Application colors
  --color-background: #f5f5f5;
  --color-font: #303030;
  --color-link: #484848;
  --color-nav-link: #707070;
  --color-date: #919191;
  --color-black: #000;

  --media-width: 768px;
}