<head>
  <title><% content_for :title, @story.title.length > 40 ? @story.title : "Nathan Hadley - #{@story.title}" %></title>
  <% content_for :description, truncate(strip_tags(@story.content_html.gsub("</p>", " ")), length: 160) %>
  <% content_for :keywords, "#{@story.category}, blog" %>
  <%= stylesheet_link_tag "stories", "data-turbo-track": "reload" %>
</head>

<div class="stories-container">
  <div class="articles-container">
    <%= render 'story', story: @story %>
  </div>
  <%= render 'archive' %>
</div>