---

---

<footer class="mt-12 bg-[var(--color-light-tan)] py-12 text-center">
  <h2 class="mb-4 text-3xl">Let's connect:</h2>
  <a
    href="/contact"
    class="text-lg inline-block rounded px-16 py-4 bg-[var(--color-font)] text-white hover:opacity-90"
    >Schedule a consultation</a
  >
</footer>
