---

---

<footer class="mt-12 bg-[var(--color-light-tan)] py-12 text-center">
  <h2 class="mb-4 text-2xl font-semibold">Let's connect:</h2>
  <a
    href="/contact"
    class="inline-block rounded bg-black px-4 py-2 text-white hover:bg-neutral-800"
    >Schedule a Consultation</a
  >
</footer>
