<head>
  <title>Contact</title>
  <%= stylesheet_link_tag "contact", "data-turbo-track": "reload" %>
</head>
<div class="contact-page">
  <h1>Schedule a Consultation</h1>
  <p>
    You can email me at liz@lizhadleytherapy.com. In case of emergency, please do not contact me through this website, and instead use the resources listed
    <%= link_to "here", resources_path %>.
  </p>
</div>
