<head>
  <title>FAQs</title>
  <%= stylesheet_link_tag "about", "data-turbo-track": "reload" %>
</head>
<div class="faq-page">
  <div class="fees-block">
    <div class="text-box">
      <h2>Fees</h2>
      <p>My fee is $130 per session.</p>
      <p>I offer a limited number of sliding scale slots to individuals for whom finances pose a barrier to accessing therapy. If you are seeking an adjusted fee, please bring this to my attention during our consultation call.</p>
    </div>
    <div class="img-container">
      <%= image_tag 'tiny-budding-pants.jpeg'%>
    </div>
  </div>
  <div class="where-block">
    <h2>Where & How We Meet</h2>
    <p>Currently, I offer therapy over secure video platform. You will need a secure wifi-connection, a private space, and a video-enabled device to join sessions. I do not offer in-person services at this time.</p>
  </div>
  <div class="insurance-block">
    <h2>Insurance</h2>
    <p>I am not in network with insurance providers. However, I can provide you with invoices (“superbills”) that you can use to seek reimbursement from your insurance company.</p>
    <p>Prior to beginning therapy, I recommend calling your insurance provider to ask the following questions about reimbursement:</p>
    <ul>
      <li>Do I have coverage for mental health services? (the answer has to be yes by law)</li>
      <li>Do you cover CPT code 90837? How much do you reimburse for this code? How much do you reimburse if the provider is out of network?</li>
      <li>Does my plan cover services from an LMHCA clinician?</li>
      <li>Do I have a deductible to meet? How much?</li>
      <li>How much can I expect to pay per session after I meet my deductible?</li>
    </ul>
    <p>The answer to these questions might help you understand how much you can expect to pay out of pocket for services if your insurance does offer some coverage/reimbursement using super bills.</p>
  </div>
  <div class="expect-block">
    <h2>What to Expect</h2>
    <p>In order for therapy to be effective, it’s incredibly important that you feel comfortable with your therapist; you have choice and agency in deciding who is a part of your support system.</p>
    <p>To help us both assess our fit for each other, I offer free 20 minute consultation video calls to explore what you’re looking for in therapy and to share who I am and how I work.</p>
    <p>If we decide to work together, our first few sessions will involve some logistics and paperwork, after which we will ease in to the work of building trust and exploring what brought you to therapy, what your story has been up until this point, and where you would like to head in life.</p>
    <p>I typically recommend meeting weekly in the beginning of therapy and adjust pacing as growth and healing emerges.</p>
  </div>
  <%= image_tag 'flowers.png'%>
</div>