<div class="archive">
  <h2>Archive</h2>
  <% @stories_within_years.each do |year, stories| %>
    <h3><%= year %></h3>
    <% stories.each do |story| %>
      <%= link_to story_path(slug: story.slug, category: @category), class: 'story-link' do %>
        <p><%= story.title %></p>
      <% end %>
    <% end %>
  <% end %>
</div>