<head>
  <title>Stories</title>
  <%= stylesheet_link_tag "stories", "data-turbo-track": "reload" %>
</head>

<div class="stories-container">
  <div class="articles-container">
    <% @articles_on_page.each do |article| %>
      <%= render 'article', article: article %>
      <% if @articles_on_page.last != article %>
        <hr>
      <% end %>
    <% end %>
    <%= paginate @articles_on_page %>
  </div>
  <%= render 'archive' %>
</div>