<head>
  <title><% content_for :title, "Nathan Hadley - Stories" %></title>
  <% content_for :description, "Stories by Nathan Hadley, climber, software developer, new route developer, setter, and photographer." %>
  <% content_for :keywords, "blog, stories, Nathan Hadley" %>
  <%= stylesheet_link_tag "stories", "data-turbo-track": "reload" %>
</head>

<div class="stories-container">
  <div class="articles-container">
    <% @stories_on_page.each do |story| %>
      <%= render 'story', story: story %>
      <% if @stories_on_page.last != story %>
        <hr>
      <% end %>
    <% end %>
    <%= paginate @stories_on_page %>
  </div>
  <%= render 'archive' %>
</div>