<head>
  <title>Stories</title>
  <%= stylesheet_link_tag "stories", "data-turbo-track": "reload" %>
</head>

<div class="stories-container">
  <div class="articles-container">
    <% @stories_on_page.each do |story| %>
      <%= render 'story', story: story %>
      <% if @stories_on_page.last != story %>
        <hr>
      <% end %>
    <% end %>
    <%= paginate @stories_on_page %>
  </div>
  <%= render 'archive' %>
</div>