<head>
  <title><%= @article.title %></title>
  <%= stylesheet_link_tag "stories", "data-turbo-track": "reload" %>
</head>

<div class="stories-container">
  <div class="articles-container">
    <%= render 'article', article: @article %>
  </div>
  <%= render 'archive' %>
</div>