<head>
  <title><%= @story.title %></title>
  <%= stylesheet_link_tag "stories", "data-turbo-track": "reload" %>
</head>

<div class="stories-container">
  <div class="articles-container">
    <%= render 'story', story: @story %>
  </div>
  <%= render 'archive' %>
</div>