@import "tailwindcss";
@source "./src";

@plugin "@tailwindcss/typography";

@theme {
  --font-sans:
    "Jost", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  --font-serif:
    "Crimson Text", Georgia, Cambria, "Times New Roman", Times, serif;
  --color-background: #faf7f6;
  --color-light-tan: #f8ede0;
  --color-font: #284f3f;
  --color-black: #000000;
  --color-white: #ffffff;
}

html {
  font-family: var(--font-serif);
  color: var(--color-font);
}

body {
  background: var(--color-background);
}

.prose {
  --tw-prose-body: var(--color-font);
  --tw-prose-headings: var(--color-font);
}
