<head>
  <title>Home</title>
  <%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
</head>
<div class="header-block">
  <h1>Creating space for healing & restoration</h1>
  <p>Psychotherapy for adults in Washington State</p>
</div>
<div class="whitespace"></div>
<div class="img-block">
  <%= image_tag 'budding-plant-2.png'%>
</div>
<div class="text-img-block">
  <div class="text-box">
    <h2>Integrative psychotherapy for healing & learning new ways of living:</h2>
    <p>Using relationship and therapeutic practices to help you turn towards what has been painful to be with, and to encounter your goodness.</p>
  </div>
  <div class="img-container">
    <%= image_tag 'budding-plant.jpeg'%>
  </div>
</div>