<head>
  <title>About</title>
  <%= stylesheet_link_tag "faq", "data-turbo-track": "reload" %>
</head>
<div class="about-page">
  <div class="about-header-block">
    <h1>Liz Hadley, MA, LMHCA</h1>
    <h3>I am a mother, partner, sister, daughter, aunt, and friend. I am a cisgender heterosexual White woman.</h3>
  </div>
  <div class="about-block-1">
    <div class="left-col-1">
      <%= image_tag 'liz-portrait.jpg'%>
      <h3>“What has been wounded in a relationship must be, after all, healed in a relationship.”</h3>
      <h4>— Annie Rogers</h4>
    </div>
    <div class="right-col-1">
      <h2>How I work:</h2>
      <p>At the core of my therapeutic approach is my belief that we heal and transform through authentic and empathic connection. I view therapy as a collaborative process in which we co-create a space to engage what has been wounded and find medicine to heal and grow.</p>
      <p>My therapeutic practice is shaped by my responsibility to be anti-racist, my understanding that psychology and therapy are not apolitical, and my belief that our identities – complex, unique, and intersecting – are relevant in the therapeutic space. I understand suffering and distress not as a function of individual pathology, but as something that is always in some way connected to the world and environment it emerges from.</p>
      <p>Seeking healing and restoration is a brave and courageous journey that goes against all the systems of oppression that seek to wound and separate us. I considered it a profound honor to walk with someone in this journey through challenges, suffering, wonder, curiosity and pain, to find a healing, growth, embodiment and joy that follows us beyond the therapy room.</p>
      <p>I am skilled at using a wide variety of therapeutic approaches including attachment work and depth-oriented psychotherapy, focusing, play therapy, various trauma and body-based therapies, inner child and parts work, and meaning and insight-based therapies. However, I tailor my approach to each person based on their unique strengths and intentions for therapy.</p>
    </div>
  </div>
  <div class="about-block-2">
    <div class="left-col-2">
      <%= image_tag 'buds.jpeg'%>
    </div>
    <div class="right-col-2">
      <h2>Therapeutic Orientation:</h2>
      <p>My primary therapeutic approach is existential, humanistic, person-centered, and relational. This means I believe wholeheartedly in clients’ worthiness and ability to evolve, and in the power of the therapeutic relationship to heal.</p>
      <p>With clinical skill and relational warmth, I accompany clients as they stabilize, make meaning of their life, and find their way into well-being.</p>
    </div>
  </div>
  <div class="about-block-3">
    <div class="left-col-3">
      <h2>Professional Journey:</h2>
      <p>Throughout my life, a guiding compass has been my commitment to supporting others meet fundamental rights and needs, and experience welcome, connection and well-being. I became a therapist after working for 8 years alongside refugees, immigrants, and asylum seekers – a community which taught me how to honor every person’s unique humanity, work for peace, and forefront hospitality in my life.</p>
      <p>My work alongside these communities also shaped the lenses through which I see the world, better attuning me to how systems of oppression, generational trauma, loss of home, White supremacy, and American exceptionalism powerfully control and distort lives and communities. In working as a therapist, I continue my commitment to supporting marginalized communities and de-centering white, Western understandings of suffering, healing, and being. I continuously ground my work in social justice and liberation practices that seek to understand and dismantle oppressive systems that contribute to individual, communal, and environmental suffering.</p>
      <p>I hold a masters degree in Psychology from Seattle University with an emphasis on the existential phenomenological tradition – a tradition that grounds me in a continuous curiosity about the lived experience of the individual sitting across from me and how they create meaning in their life.</p>
      <p>Each client I have ever worked with has been my teacher in life, and I consider it a deep honor to have our paths cross. I consider this work the greatest and most worthy way I could spend my time. To those with whom I will cross paths: I am honored, and so eager to know you.</p>
    </div>
    <div class="right-col-3">
      <%= image_tag 'cairn.jpeg'%>
    </div>
  </div>
</div>