---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Contact"
  description="Schedule a consultation"
  image="/images/grass.jpeg"
>
  <section
    class="px-4 py-12"
  >
    <h1 class="text-center">Schedule a Consultation</h1>
    <p>
      You can email me at <a href="mailto:liz@lizhadleytherapy.com"
        >liz@lizhadleytherapy.com</a
      >. In case of emergency, please do not contact me through this website,
      and instead use the resources listed <a href="/resources">here</a>.
    </p>
  </section>
</BaseLayout>
