---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Focus Areas"
  description="Areas of therapeutic focus"
  image="/images/grass.jpeg"
>
  <section class="px-4">
    <h2 class="text-3xl font-semibold">
      Integrative therapy for individual adults (18+) of all genders
    </h2>
    <div class="grid items-start gap-4 md:grid-cols-2">
      <div class="img-container">
        <img
          src="/images/grass.jpeg"
          alt="Grass"
          class="h-auto w-full rounded"
        />
      </div>
      <div class="bg-[var(--color-light-tan)] px-4">
        <h2>Areas of Focus</h2>
        <p>
          I support folxs navigating a wide range of life experiences. Some of
          these experiences have more tangible names like ‘anxiety’,
          ‘depression’, or ‘grief’…others are challenges and wounds that evade
          labels at times.
        </p>
        <p>
          For those of you who may not have a name for what you are
          experiencing, you are welcome in this space exactly where you are in
          your story. We will journey through the liminality together.
        </p>
        <p>
          While I provide therapeutic support for a variety of experiences, I
          particularly enjoy supporting folxs through:
        </p>
        <ul>
          <li>Pregnancy loss</li>
          <li>Trauma</li>
          <li>Anxiety</li>
          <li>Depression</li>
          <li>Grief</li>
          <li>Life &amp; identity transitions</li>
        </ul>
      </div>
    </div>
  </section>
</BaseLayout>
