---
import HeaderBanner from "../components/HeaderBanner.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import TextImageOverlap from "../components/TextImageOverlap.astro";
---

<BaseLayout title="Home" image="/images/budding-plant-2.png">
  <div class="space-y-4">
    <HeaderBanner
      title="Creating space for healing & restoration"
      subtitle="Psychotherapy for adults in Washington State"
    />
    <div class="w-full">
      <img
        src="/images/budding-plant-2.png"
        alt="Budding plant"
        class="h-auto w-full"
      />
    </div>
    <TextImageOverlap
      imageSrc="/images/budding-plant.jpeg"
      imageAlt="Budding plant"
    >
      <h2 class="mt-0 text-2xl font-normal md:text-3xl">
        Integrative psychotherapy for healing & learning new ways of living:
      </h2>
      <p class="mt-0 text-xl italic md:mt-6">
        Using relationship and therapeutic practices to help you turn towards
        what has been painful to be with, and to encounter your goodness.
      </p>
    </TextImageOverlap>
  </div>
</BaseLayout>
