---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home" image="/images/budding-plant-2.png">
  <section class="bg-[var(--color-light-tan)] px-3 py-16 text-center rounded">
    <h1 class="text-4xl font-semibold text-[var(--color-font)]">
      Creating space for healing & restoration
    </h1>
    <h2 class="text-xl mt-0 mb-0 text-[var(--color-font)] italic">
      Psychotherapy for adults in Washington State
    </h2>
  </section>
  <div class="w-full">
    <img
      src="/images/budding-plant-2.png"
      alt="Budding plant"
      class="h-auto w-full rounded"
    />
  </div>
  <section class="flex h-96 sm:h-124 px-6 sm:px-12 items-center justify-center">
    <div
      class="z-1 flex flex-col h-full sm:h-[80%] w-full sm:w-[80%] items-center justify-center bg-[var(--color-light-tan)] p-6 rounded"
    >
      <h2 class="mt-0 text-2xl md:text-3xl font-normal text-[var(--color-font)]">
        Integrative psychotherapy for healing & learning new ways of living:
      </h2>
      <p class="mt-0 md:mt-6 text-xl text-[var(--color-font)] italic">
        Using relationship and therapeutic practices to help you turn towards
        what has been painful to be with, and to encounter your goodness.
      </p>
    </div>
    <div
      class="z-0 -ml-12 -mt-16 flex hidden h-full justify-center sm:flex"
    >
      <img
        src="/images/budding-plant.jpeg"
        alt="Budding plant"
        class="h-full w-full object-cover rounded"
      />
    </div>
  </section>
</BaseLayout>
