<head>
  <title>About Nathan Hadley</title>
  <%= stylesheet_link_tag "photos", "data-turbo-track": "reload" %>
</head>

<div data-controller="slideshow" class="slideshow-container">
  <% @photos.each do |filename| %>
    <div data-slideshow-target="photo" class="d-none">
      <%= image_tag filename %>
    </div>
  <% end %>
  <div class='photo-controls'>
    <a data-slideshow-target="prev" data-action="click->slideshow#prev">PREV</a>
    <div>/</div>
    <a data-slideshow-target="next" data-action="click->slideshow#next">NEXT</a>
  </div>
</div>

