<head>
  <title>About Nathan Hadley</title>
  <%= stylesheet_link_tag "photos", "data-turbo-track": "reload" %>
</head>

<div class="slideshow-container">
  <% @photos.each do |photo| %>
    <div class="slide fade">
      <%= image_tag photo %>
    </div>
  <% end %>
</div>

