<head>
  <title>About Nathan Hadley</title>
  <%= stylesheet_link_tag "photos", "data-turbo-track": "reload" %>
</head>

<div class="photo-carousel">
  <% @photos.each do |photo| %>
    <%= image_tag photo %>
  <% end %>
</div>

