<head>
  <title>About Nathan Hadley</title>
  <%= stylesheet_link_tag "about", "data-turbo-track": "reload" %>
</head>

<div class="about-photo">
  <%= image_tag 'about.jpg'%>
</div>

<div class="about-content">
  <h3 style='margin-top: 0;'>Climber, Software Developer, New Route Developer, Setter, & Photographer</h3>
  <p>
    Nathan's introduction to climbing began at age seven through competitive youth climbing. Despite his success at the national and international level, by the end of high school, he experienced burnout and withdrew from climbing as he transitioned into college life.
  </p>
  <p>
    Upon completing his undergraduate studies in Chicago, Nathan returned to his hometown of Indianapolis, Indiana, where he began setting routes and rediscovering his passion for climbing during frequent trips to the Red River Gorge. The forested hills and expansive sandstone walls of Kentucky rejuvenated his enthusiasm for the sport.
  </p>
  <p>
    In 2015, Nathan embarked on a significant life change by moving to Seattle, Washington. The untamed beauty of the Cascade Range provided an ideal backdrop for his creative exploration in the mountains, which he expressed through climbing, new route development, and photography. Seattle, a hub for climbing, also allowed him to perfect his craft of setting at the Seattle Bouldering Project, one of the world's leading bouldering gyms.
  </p>
  <p>
    After dedicating nearly 7 years to setting at SBP, two of which were spent managing and leading the program, Nathan decided to transition into software engineering. He quickly recognized many similarities between route setting and software development, both requiring a creative vision and problem-solving mindset.
  </p>
  <p>
    Nathan aspires to be a well-rounded climber, growing his climbing in both directions—from bouldering to alpine climbing—but knows he will always love the free movement over rock the most. Drawing on his experiences in route setting, he has developed a passion for creating and sharing climbs on the grand walls of the Cascades through the discovery and development of new routes. He proudly represents Rab as a national athlete.
  </p>
  <p>
    In addition to climbing and software engineering, Nathan contributes to Tandem Stills + Motion, a leading image provider specializing in nature, travel, culture, adventure, and active lifestyle.
    <a href="https://tandemstock.com/browse/contributor/7772">Click here</a> to view his page.
  </p>
  <h3>About This Site</h3>
  <p>
    This website was built from scratch using Ruby on Rails. It's a medium to share my love for climbing. As you navigate the site, know that each feature was thoughtfully implemented with the same problem-solving mindset that I bring to route setting and climbing. Enjoy!
  </p>
  <h3>Notable Climbs</h3>
  <h4>2023</h4>
  <ul>
    <li>Dreefee (5.13d, 250m, 8 pitches), Rainbow Wall, Red Rock Canyon, NV</li>
    <li>Crystal Dawn (5.13c, 300m, 8 pitches), Buffalo Wall, Red Rock Canyon, NV</li>
  </ul>
  <h4>2022</h4>
  <ul>
    <li>Rubbernecker (5.14-, 200m, 7 pitches), South Early Winter Spire, Washington Pass, WA — first ascent</li>
  </ul>
  <h4>2021</h4>
  <ul>
    <li>Backseat Driver (5.13, 200m, 7 pitches), South Early Winter Spire, Washington Pass, WA — first ascent</li>
    <li>The Honeymoon is Over (5.13c, 300m, 9 pitches), Long’s Peak Diamond, CO</li>
    <li>Gambler’s Fallacy (5.13-, 300m, 9 pitches), Long’s Peak Diamond, CO — flash</li>
  </ul>
  <h4>2020</h4>
  <ul>
    <li>Deep Blue (5.13, 15 pitches), Dolomite Tower, WA — first ascent</li>
  </ul>
  <h4>2019</h4>
  <ul>
    <li>Dark Side of Liberty (5.13d, 400m, 11 pitches), Liberty Bell, Washington Pass, WA</li>
    <li>Cobalt Gecko (5.14b), Canmore, Canada</li>
    <li>The Path (5.14a R, trad), Lake Louise, Canadian Rockies — in-a-day</li>
    <li>Blue Jeans Direct (5.14a, 7 pitches), Mt. Yamnuska, Canadian Rockies</li>
    <li>The Shining Uncut (5.14a, 9 pitches), Mt. Louis, Canadian Rockies</li>
    <li>Castles in the Sky (5.14a, 5 pitches), Castle Mountain, Canadian Rockies</li>
    <li>En Passant aka Ten Percent Direct (5.14), Index, WA — first ascent of Index’s first 5.14</li>
    <li>Freedom is a Battle (5.13c), Geyikbayiri, Turkey — onsight</li>
    <li>Semifinalist (17th) at US Lead Nationals</li>
  </ul>
  <h4>2018</h4>
  <ul>
    <li>Pilar Rojo (5.12a, 600m), Mermoz, Patagonia</li>
    <li>Lost Horizons (5.14b), Little Si, WA</li>
    <li>Hagakure (V12), Index, WA</li>
    <li>All of the Above (V12), Index, WA — in-a-day</li>
  </ul>
  <h4>2017</h4>
  <ul>
    <li>Live Free or Die! (5.12c, 300m), Liberty Bell, Washington Pass, WA — first ascent</li>
    <li>Liberty Crack (5.13b, 400m), Liberty Bell, Washington Pass, WA</li>
    <li>Westie Face (5.13a, 300m), Leaning Tower, Yosemite, CA — in-a-day </li>
    <li>Badman (5.14a), Smith Rock, OR</li>
    <li>Aggro Monkey (5.13b), Smith Rock, OR — onsight</li>
  </ul>
  <h4>2016</h4>
  <ul>
    <li>West Buttress (AK Grade 2, 50°, 4000m), Denali, AK</li>
    <li>Amandla (5.13+), Index, WA</li>
  </ul>
  <h4>2001-2011</h4>
  <ul>
    <li>16 Youth National Championships
      <ul>
        <li>Three 1st place finishes</li>
        <li>Twelve U.S. Team qualifications (top-4 finishers)</li>
        <li>Recipient of the North Face Young Gun Award</li>
      </ul>
    </li>
    <li>5 Youth World Championships
      <ul>
        <li>One top-5 finish and four top-20 finishes</li>
      </ul>
    </li>
  </ul>
</div>