<head>
  <title>About Nathan Hadley</title>
  <%= stylesheet_link_tag "about", "data-turbo-track": "reload" %>
</head>

<div class="about-photo">
  <%= image_tag 'about.jpg'%>
</div>

<div class="about-content">
  <h3 style='margin-top: 0;'>Climber, Software Developer, New Route Developer, Setter, & Photographer</h3>
  <p>
    Nathan was introduced to climbing at age seven through competitive youth climbing. With some success at the
    national and international level, Nathan was burnt out by the end of high school, and practically gave up climbing
    going into college.
  </p>
  <p>
    After finishing undergrad in Chicago, Nathan moved back to his hometown of Indianapolis, Indiana, started setting,
    and making regular trips to the Red River Gorge again. The forested hills and abundant sandstone walls of Kentucky
    began to renew his psych for climbing.
  </p>
  <p>
    A significant and needed shift occurred when Nathan moved to Seattle, Washington, in 2015. The wildness of the
    Cascade Range became the perfect canvas for him to pursue creative expression in the mountains, through climbing,
    new route development and photography. Seattle was also an epicenter for the craft of setting, and Nathan felt
    lucky to have fallen into setting at the Seattle Bouldering Project, one of the premier bouldering gyms in the
    world.
  </p>
  <p>
    After setting at SBP for nearly 7 years, with 2 years managing and leading the program, Nathan has since moved on
    to software development, a field he believes carries many similarities to setting.
  </p>
  <p>
    Nathan aspires to be a well-rounded climber, growing his climbing in both directions—from bouldering to alpine
    climbing—but knows he will always love the free movement over rock the most. With lessons learned from setting, he
    has found a passion for creating and sharing climbing on the big walls of the Cascades by discovering and
    developing new routes. Nathan is a national athlete for Rab.
  </p>
  <p>
    Nathan is a contributor to the stock agency, Tandem Stills + Motion, one of the leading image providers in genres
    of nature, travel, culture, adventure, and active lifestyle.
    <a href="https://tandemstock.com/browse/contributor/7772">Click here</a>
    to view his page.
  </p>
  <h3>Notable Climbs</h3>
  <h4>2022</h4>
  <ul>
    <li>Rubbernecker (5.14-, 200m, 7 pitches), South Early Winter Spire, Washington Pass, WA — FA</li>
  </ul>
  <h4>2021</h4>
  <ul>
    <li>Backseat Driver (5.13, 200m, 7 pitches), South Early Winter Spire, Washington Pass, WA — FA</li>
    <li>The Honeymoon is Over (5.13c, 300m, 9 pitches), Long’s Peak Diamond, CO</li>
    <li>Gambler’s Fallacy (5.13-, 300m, 9 pitches), Long’s Peak Diamond, CO — flash</li>
  </ul>
  <h4>2020</h4>
  <ul>
    <li>Deep Blue (5.13, 15 pitches), Dolomite Tower, WA — FA</li>
  </ul>
  <h4>2019</h4>
  <ul>
    <li>Dark Side of Liberty (5.13d, 400m, 11 pitches), Liberty Bell, Washington Pass, WA</li>
    <li>Cobalt Gecko (5.14b), Canmore, Canada</li>
    <li>The Path (5.14a R, trad), Lake Louise, Canadian Rockies — in-a-day</li>
    <li>Blue Jeans Direct (5.14a, 7 pitches), Mt. Yamnuska, Canadian Rockies</li>
    <li>The Shining Uncut (5.14a, 9 pitches), Mt. Louis, Canadian Rockies</li>
    <li>Castles in the Sky (5.14a, 5 pitches), Castle Mountain, Canadian Rockies</li>
    <li>En Passant aka Ten Percent Direct (5.14), Index, WA — FFA of Index’s first 5.14</li>
    <li>Freedom is a Battle (5.13c), Geyikbayiri, Turkey — onsight</li>
    <li>Semifinalist (17th) at US Lead Nationals</li>
  </ul>
  <h4>2018</h4>
  <ul>
    <li>Pilar Rojo (5.12a, 600m), Mermoz, Patagonia</li>
    <li>Lost Horizons (5.14b), Little Si, WA</li>
    <li>Hagakure (V12), Index, WA</li>
    <li>All of the Above (V12), Index, WA — in-a-day</li>
  </ul>
  <h4>2017</h4>
  <ul>
    <li>Live Free or Die! (5.12c, 300m), Liberty Bell, Washington Pass, WA — FA</li>
    <li>Liberty Crack (5.13b, 400m), Liberty Bell, Washington Pass, WA — first 5.13 multipitch</li>
    <li>Westie Face (5.13a, 300m), Leaning Tower, Yosemite, CA — in-a-day </li>
    <li>Badman (5.14a), Smith Rock, OR — first 5.14</li>
    <li>Aggro Monkey (5.13b), Smith Rock, OR — first 5.13b onsight</li>
    <li>TPMV (5.13a, trad), Index, WA — first 5.13 trad onsight </li>
  </ul>
  <h4>2016</h4>
  <ul>
    <li>West Buttress (AK Grade 2, 50°, 4000m), Denali, AK</li>
    <li>Amandla (5.13+), Index, WA</li>
  </ul>
  <h4>2001-2011</h4>
  <ul>
    <li>16 Youth National Championships
      <ul>
        <li>Three 1st place finishes</li>
        <li>Twelve U.S. Team qualifications (top-4 finishers)</li>
        <li>Recipient of the North Face Young Gun Award</li>
      </ul>
    </li>
    <li>5 Youth World Championships
      <ul>
        <li>One top-5 finish and four top-20 finishes</li>
      </ul>
    </li>
  </ul>
</div>