
body {
  // default styling for the whole site + sidebar
  margin: 50px;
  color: #303030;
  background-color: #ebebeb;
  display: grid;
  grid-template-columns: 200px 1fr;
  font-family: 'Proxima Nova', serif;

  a, a:link {
    text-decoration: none;
    cursor: pointer;
  }
  a:hover { color: #000; }

  .fade {
    animation-name: fade;
    animation-duration: .5s;
  }

  @keyframes fade {
    from { opacity: .6; }
    to { opacity: 1; }
  }
  // end default styling

  .sidebar {
    h1 {
      font-family: 'Jost', serif;
      font-weight: 700;
      font-size: 32px;
      color: #FFFFFF;
      margin-top: 0;
      margin-bottom: 0;
      letter-spacing: 8px;
      line-height: 40px;
    }

    nav ul {
      list-style-type: none;
      padding: 0;

      li {
        font-size: 18px;
        line-height: 2em;
        a {
          color: #707070;
        }
        .active { color: #000; }
      }
        .secondary-item {
          font-size: 15px;
          margin-top: 12px;
        }
      }
    }

  .main-content {
    max-width: 900px;
    h2 {
      margin: 0;
      padding: 17px;
    }
    h3 {
      font-size: 18px;
      margin: 20px 0;
      line-height: 1.2em;
      font-weight: bold;
    }
    h4 {
      font-weight: bold;
      font-size: 15px;
      margin-top: 0;
      margin-bottom: 15px;
    }
    p {
      font-size: 15px;
      line-height: 1.6em;
    }
    ul {
      margin: 15px 0;
      padding-left: 40px;
      li { margin: 7.5px 0; }
    }
    img {
      max-width: 100%;
      margin-right: 17px;
    }
    .vertical {
      max-width: 50%;
      float: left;
    }
  }
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    .sidebar {
      text-align: center;
      ul {
        margin-top: 6px;
        .secondary-item { margin-top: 4px !important; }
      }
    }
  }
}