// default styling for the whole site + sidebar
body {
    margin: 50px;
    color: #303030;
    background-color: #ebebeb;
    display: grid;
    grid-template-columns: 200px 1fr;
    font-family: 'Proxima Nova', serif;

    a, a:link {
        text-decoration: none;
        cursor: pointer;
    }
    a:hover { color: #000; }

    .sidebar {
        h1 {
            font-family: 'Jost', serif;
            font-weight: 700;
            font-size: 32px;
            color: #FFFFFF;
            margin-top: 0;
            margin-bottom: 0;
            letter-spacing: 8px;
            line-height: 40px;
        }

        nav ul {
            list-style-type: none;
            padding: 0;

            li {
                a {
                    color: #707070;
                }
                line-height: 2em;
                .active { color: #000; }
            }
        }

        .primary-list { font-size: 18px; }
        .secondary-list { font-size: 15px; }

        .photo-controls {
            position: absolute;
            bottom: 0;
            font-size: 12px;
            a, div { display: inline-block; }
        }
    }

    .main-content {
        max-width: 950px;
        h2 {
            margin: 0;
            padding: 17px;
        }

        h3 {
            font-size: 18px;
            margin: 20px 0;
            line-height: 1.2em;
            font-weight: bold;
        }
        h4 {
            font-weight: bold;
            font-size: 15px;
            margin-top: 0;
            margin-bottom: 15px;
        }

        p {
            font-size: 15px;
            line-height: 1.6em;
        }

        ul {
            margin: 15px 0;
            padding-left: 40px;
            li { margin: 7.5px 0; }
        }
    }
}