body {
  // default styling for the whole site + sidebar
  margin: 50px;
  color: var(--color-font);
  background-color: var(--color-background);
  font-family: 'Proxima Nova', serif;

  a, a:link {
    font-weight: bold;
    color: var(--color-link);
    text-decoration: none;
    cursor: pointer;
  }
  a:hover { color: var(--color-black); }

  .fade {
    animation-name: fade;
    animation-duration: .5s;
  }

  @keyframes fade {
    from { opacity: .6; }
    to { opacity: 1; }
  }
  // end default styling

  .sidebar {
    z-index: 9999;
    position: fixed;
    h1 {
      font-family: 'Jost', serif;
      font-weight: bold;
      font-size: 32px;
      color: var(--color-black);
      margin-top: 0;
      margin-bottom: 0;
      letter-spacing: 8px;
      line-height: 40px;
      max-width: 200px;
    }

    nav {
      .menu { display: none; }

      ul {
        list-style-type: none;
        padding: 0;
      }

      li {
        font-size: 18px;
        line-height: 2em;
        a {
          color: var(--color-nav-link);
        }
        a:hover, .active { color: var(--color-black); }
      }
      .mobile-only { display: none }
    }
  }

  .main-content {
    margin-left: 200px;
    max-width: 900px;
    h2 {
      margin: 0;
      padding: 16px;
    }
    h3 {
      font-size: 18px;
      margin: 20px 0;
      line-height: 1.2em;
      font-weight: bold;
    }
    h4 {
      font-weight: bold;
      font-size: 15px;
      margin-top: 0;
      margin-bottom: 15px;
    }
    p {
      font-size: 15px;
      line-height: 1.6em;
    }
    ul {
      margin: 15px 0;
      padding-left: 40px;
      li { margin: 7.5px 0; }
    }
  }
}

// tablet/phone
@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    .main-content {
      margin-left: 0;
    }
    .sidebar {
      h1 {
        display: none;
      }

      nav:hover ul {
        display: block;
      }

      nav {
        width: 100%;
        padding: 14px 0;
        background-color: var(--color-background);
        position: fixed;
        top: 0;
        margin-right: 40px !important;

        .menu {
          display: block;
          font-size: 24px;
        }

        ul {
          margin-top: 8px;
          display: none;
          position: absolute;
          background-color: var(--color-background);
          border: 1px solid #ccc;
          padding: 0;

          .archive { display: block; }

          li {
            display: block;
            width: 100%;

            a {
              display: block;
              padding: 8px 16px;
              text-decoration: none;
            }

            a:hover {
              background-color: #f2f2f2;
            }
          }
        }
      }
    }
  }
}

// small phones
@media (max-width: 375px) {
  body {
    margin: 50px 20px;
  }
}