.slideshow-container {
  position: relative;

  .slide {
    display: none;

    img {
      max-width: 100%;
      max-height: 80vh;
      display: block;
      margin: auto;
    }
  }

  .fade {
    animation-name: fade;
    animation-duration: 1s;
  }

  @keyframes fade {
    from { opacity: .6; }
    to { opacity: 1; }
  }

}

/*.slide:hover { cursor: pointer; }
.slide:active { cursor: pointer; }*/

