.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.slide {
  display: none;
}
/*.slide:hover { cursor: pointer; }
.slide:active { cursor: pointer; }*/

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from { opacity: .4; }
  to { opacity: 1; }
}
