.stories-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  .articles-container {
    margin-right: 16px;
    .header-img {
      margin-top: 0;
    }
    h1 {
      margin-bottom: 10px;
    }
    time {
      color: var(--color-date);
    }
    p {
      text-align: justify;
    }
    h3 {
      margin-top: 32px;
      font-weight: 600;
      font-size: 16px;
    }
    figure {
      margin: 32px 0;
      img {
        max-width: 100%;
      }
      p {
        font-size: 12px;
        text-align: left;
      }
    }
    .left {
      margin: 6px 32px 0 0;
      max-width: 50%;
      float: left;
    }
    hr {
      margin: 50px 0;
    }
    hr.sm {
      text-align: center;
      margin: 32px auto;
    }
  }
  .archive {
    margin-left: 16px;
    h2 {
      padding: 0;
    }
  }
}

@media (max-width: 768px) {
  .stories-container {
    grid-template-columns: 1fr;
    .articles-container {
      margin-right: 0;
    }
    .archive {
      margin-left: 0;
      h2 {
        margin-top: 32px;
      }
    }
  }
}
