<head>
  <title>Focus Areas</title>
  <%= stylesheet_link_tag "focus_areas", "data-turbo-track": "reload" %>
</head>
<div class="focus-areas-page">
  <h2>Integrative therapy for individual adults (18+) of all genders</h2>
  <div class="text-img-block">
    <div class="img-container">
      <%= image_tag 'grass.jpeg'%>
    </div>
    <div class="text-box">
      <h2>Areas of Focus</h2>
      <p>I support folxs navigating a wide range of life experiences. Some of these experiences have more tangible names like ‘anxiety’, ‘depression’, or ‘grief’…others are challenges and wounds that evade labels at times.</p>
      <p>For those of you who may not have a name for what you are experiencing, you are welcome in this space exactly where you are in your story. We will journey through the liminality together.</p>
      <p>While I provide therapeutic support for a variety of experiences, I particularly enjoy supporting folxs through:</p>
      <ul class="bullet-list">
        <li>Pregnancy loss</li>
        <li>Trauma</li>
        <li>Anxiety</li>
        <li>Depression</li>
        <li>Grief</li>
        <li>Life &amp; identity transitions</li>
      </ul>
    </div>
  </div>
</div>