:root {
  // Application colors
  --color-background: #faf7f6;
  --color-light-tan: #F8EDE0;
  --color-font: #284F3F;
  --color-black: #000;
  --color-white: #FFFFFF;

  // Font sizes
  --font-size-sm: 17px;
  --font-size-md: 19px;
  --font-size-lg: 34px;
  --font-size-xlg: 42px;
}